<div class="page-layout simple fullwidth angular-material-elements">

    <!-- HEADER -->
    <div class="header accent p-24 h-60" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="h2 mt-0">
                <span *ngIf="crew">{{crew.crewFirstName}} {{crew.crewLastName}}</span>
            </div>
        </div>

        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button aria-label="Delete Crew" matTooltip="Delete Crew"
                    (click)="deleteCrew(crew.crewGuid)">
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-icon-button aria-label="Edit Crew" matTooltip="Edit Crew"
                    (click)="editCrew(crew.crewGuid)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button aria-label="Back to Crew List" matTooltip="Back to Crew List"
                    [routerLink]="'/developer-pages/crew-list'">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>

        </div>
        <!-- / TOOLBAR -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="section-box info-box general" fxLayout="column" *ngIf="crew">

            <header class="accent">
                <div class="title">Crew Information</div>
            </header>

            <div class="content">

                <div class="info-line">

                    <table class="info table">
                        <tr class="table-row">
                            <td class="key">Last Name:</td>
                            <td class="value">{{crew.crewLastName}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">First Name:</td>
                            <td class="value">{{crew.crewFirstName}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>