<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">

        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="activityForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Date</mat-label>
                    <input [matDatepicker]="fuelActivityDatePicker" name="fuelActivityDate" formControlName="fuelActivityDate" matInput required>
                    <mat-datepicker-toggle matSuffix [for]="fuelActivityDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #fuelActivityDatePicker></mat-datepicker>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Odometer</mat-label>
                    <input name="fuelActivityOdometer" formControlName="fuelActivityOdometer" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Trip Meter</mat-label>
                    <input name="fuelActivityTripMeter" formControlName="fuelActivityTripMeter" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Miles per Gallon</mat-label>
                    <input name="fuelActivityMilesPerGallon" formControlName="fuelActivityMilesPerGallon" matInput required>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Gallons</mat-label>
                    <input name="fuelActivityGallons" formControlName="fuelActivityGallons" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Price per Gallon</mat-label>
                    <input name="fuelActivityPricePerGallon" formControlName="fuelActivityPricePerGallon" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Total Cost</mat-label>
                    <input name="fuelActivityTotalCost" formControlName="fuelActivityTotalCost" matInput required>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',activityForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(activityForm)"
                [disabled]="activityForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',activityForm])"
                [disabled]="activityForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
