.page-container {
    padding: 20px 20px;
}

.error-message {
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.table-container {
    position: relative;
    max-height: 600px;
    overflow: auto;
}

table {
    width: 100%;
}