@import "src/@fuse/scss/fuse";

table {
    width: 100%;
}

.table-container {
    position: relative;
    min-height: 100px;
    overflow: auto;
}

.mat-row {
    position: relative;
    cursor: pointer;
    padding: 8px;
}