<div class="page-layout simple fullwidth angular-material-elements">

    <!-- HEADER -->
    <div class="header accent p-24 h-60" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="h2 mt-0">{{title}}</div>
        </div>

        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button aria-label="Add New Station" matTooltip="Add New Station"
                    (click)="createFuelActivity()">
                <mat-icon>add_box</mat-icon>
            </button>

        </div>
        <!-- / TOOLBAR -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <table mat-table #table [dataSource]="dataSource"
                   [@animateStagger]="{value:'50'}">

            <!-- Date Column -->
            <ng-container matColumnDef="activityDate">
                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <p class="text-truncate font-weight-600">{{row.activityDate | date: 'MM/dd/yyyy'}}</p>
                </mat-cell>
            </ng-container>

            <!-- Station Name Column -->
            <ng-container matColumnDef="stationGuid">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Station</mat-header-cell>
                <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                    <div class="station text-truncate">
                        {{row.stationGuid}}
                    </div>
                </mat-cell>
            </ng-container>

            <!-- Odometer Column -->
            <ng-container matColumnDef="activityOdometer">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Odometer</mat-header-cell>
                <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                    <div class="odometer text-truncate">
                        {{row.activityOdometer}}
                    </div>
                </mat-cell>
            </ng-container>

            <!-- Trip Meter Column -->
            <ng-container matColumnDef="activityTripMeter">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Trip Meter</mat-header-cell>
                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                    <p class="trip-meter text-truncate">
                        {{row.activityTripMeter.toFixed(1)}}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Gallons Column -->
            <ng-container matColumnDef="activityGallons">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Gallons</mat-header-cell>
                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                    <p class="gallons text-truncate">
                        {{row.activityGallons.toFixed(3)}}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Price Per Gallon Column -->
            <ng-container matColumnDef="activityPricePerGallon">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Price per Gallon</mat-header-cell>
                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                    <p class="price-per-gallon text-truncate">
                        ${{row.activityPricePerGallon.toFixed(3)}}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Total Cost Column -->
            <ng-container matColumnDef="activityTotalCost">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Total Cost</mat-header-cell>
                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                    <p class="total-cost text-truncate">
                        ${{row.activityTotalCost.toFixed(2)}}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Miles Per Gallon (Car) Column -->
            <ng-container matColumnDef="activityMilesPerGallonCar">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>MPG (Car)</mat-header-cell>
                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                    <p class="miles-per-gallon text-truncate">
                        {{row.activityMilesPerGallon}}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Miles Per Gallon (Calc) Column -->
            <ng-container matColumnDef="activityMilesPerGallonCalc">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>MPG (Calc.)</mat-header-cell>
                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                    <p class="miles-per-gallon text-truncate">
                        {{(row.activityTripMeter / row.activityGallons).toFixed(1)}}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Buttons Column -->
            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let contact">
                    <div fxFlex="row" fxLayoutAlign="end center">

                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation();">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>

                        <mat-menu #moreMenu="matMenu">
                            <button mat-menu-item aria-label="remove" (click)="deleteFuelActivity(contact)">
                                <mat-icon>delete</mat-icon>
                                <span>Remove</span>
                            </button>
                        </mat-menu>
                    </div>

                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let activity; columns: displayedColumns;"
                     class="fuel-activity"
                     (click)="editFuelActivity(activity)"
                     [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
        </table>
    </div>
</div>

