<div id="changelog" class="page-layout simple fullwidth docs">

    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="column" fxLayoutAlign="center start">

        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="secondary-text s-18">home</mat-icon>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Documentation</span>
        </div>

        <div class="h2 mt-16">Change Log</div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="changelog">

            <!-- --------------------------------------------------------------------------------------------- -->
            <!-- @ v2.0.0                                                                                      -->
            <!-- --------------------------------------------------------------------------------------------- -->
            <div class="entry">

                <div class="title">
                    <span class="version">v2.0.0</span>
                    <span class="date">(2019-11-28)</span>
                </div>

                <div class="groups">

                    <div class="new">
                        <span class="title">New</span>
                        <ul>
                            <li>Initial Release</li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
