<div class="dialog-content-wrapper" *ngIf="action === 'new' || action === 'edit' && boatLoaded">
    <mat-toolbar matDialogTitle class="mat-accent m-0">

        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="boatForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Boat Name</mat-label>
                    <input name="boatName" formControlName="boatName" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Model</mat-label>
                    <input name="boatModel" formControlName="boatModel" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Year</mat-label>
                    <input name="boatYear" formControlName="boatYear" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Double Cabin Count</mat-label>
                    <input name="boatDoubleCabinCount" formControlName="boatDoubleCabinCount" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Bunk Bed Count</mat-label>
                    <input name="boatBunkBedCount" formControlName="boatBunkBedCount" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Fore-Peak Cabin Count</mat-label>
                    <input name="boatForePeakCabinCount" formControlName="boatForePeakCabinCount" matInput required>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',boatForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(boatForm)"
                [disabled]="boatForm.invalid"
                aria-label="SAVE">
            CREATE
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',boatForm])"
                [disabled]="boatForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
