<div class="page-layout simple fullwidth angular-material-elements">

    <!-- HEADER -->
    <div class="header accent p-24 h-60" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="h2 mt-0">{{title}}</div>
        </div>

        <!--
        <a mat-raised-button class="reference-button mt-16 mt-sm-0" href="https://material.angular.io/"
           target="_blank">
            <mat-icon class="mr-8">link</mat-icon>
            <span>Reference</span>
        </a>
        -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="calendar">

            <div class="header">
                <div class="nav left" (click)="goToLastMonth()"><</div>
                <span>{{currentMonth}} {{currentYear}}</span>
                <div class="nav right" (click)="goToNextMonth()">></div>
            </div>

            <div class="week names">
                <div class="day">Sun</div>
                <div class="day">Mon</div>
                <div class="day">Tue</div>
                <div class="day">Wed</div>
                <div class="day">Thu</div>
                <div class="day">Fri</div>
                <div class="day">Sat</div>
            </div>

            <div class="week">
                <div class="day different-month" *ngFor="let day of daysInLastMonth">
                    {{day}}
                </div>

                <div class="day" *ngFor="let day of daysInThisMonth">
                    <div *ngIf="day === currentDate; else otherDate" class="today">
                        {{day}}
                    </div>
                    <ng-template #otherDate>
                        {{day}}
                    </ng-template>
                </div>

                <div class="day different-month" *ngFor="let day of daysInNextMonth">
                    {{day}}
                </div>
            </div>

        </div>

        <div>
            <highcharts-chart
                [Highcharts]="highCharts"
                [options]="chartOptions"
                style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
        </div>

    </div>
</div>

