<div class="page-layout simple fullwidth angular-material-elements">

    <!-- HEADER -->
    <div class="header accent p-24 h-60" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="h2 mt-0">
                <span *ngIf="fuelVehicle">Fuel Vehicle: {{fuelVehicle.vehicleName}}</span>
            </div>
        </div>

        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button aria-label="Delete FuelVehicle" matTooltip="Delete FuelVehicle"
                    (click)="deleteFuelVehicle(fuelVehicle.vehicleGuid)">
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-icon-button aria-label="Edit FuelVehicle" matTooltip="Edit FuelVehicle"
                    (click)="editFuelVehicle(fuelVehicle.vehicleGuid)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button aria-label="Back to FuelVehicle List" matTooltip="Back to FuelVehicle List"
                    [routerLink]="'/developer-pages/fuel-vehicle-list'">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>

        </div>
        <!-- / TOOLBAR -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="section-box info-box general" fxLayout="column" *ngIf="fuelVehicle">

            <header class="accent">
                <div class="title">Fuel Vehicle Information</div>
            </header>

            <div class="content">

                <div class="info-line">

                    <table class="info table">
                        <tr class="table-row">
                            <td class="key">Vehicle Name:</td>
                            <td class="value">{{fuelVehicle.vehicleName}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">Make:</td>
                            <td class="value">{{fuelVehicle.vehicleMake}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">Model:</td>
                            <td class="value">{{fuelVehicle.vehicleModel}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">Year:</td>
                            <td class="value">{{fuelVehicle.vehicleYear}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">VIN</td>
                            <td class="value">{{fuelVehicle.vehicleVin}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>