<div class="page-layout simple fullwidth angular-material-elements">

    <!-- HEADER -->
    <div class="header accent p-24 h-60" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="h2 mt-0">
                <span *ngIf="expenseCategory">Fuel Vehicle: {{expenseCategory.categoryName}}</span>
            </div>
        </div>

        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button aria-label="Delete Category" matTooltip="Delete ExpenseCategory"
                    (click)="deleteExpenseCategory(expenseCategory.categoryGuid)">
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-icon-button aria-label="Edit Category" matTooltip="Edit ExpenseCategory"
                    (click)="editExpenseCategory(expenseCategory.categoryGuid)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button aria-label="Back to Category List" matTooltip="Back to ExpenseCategory List"
                    [routerLink]="'/developer-pages/expense-category-list'">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>

        </div>
        <!-- / TOOLBAR -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="section-box info-box general" fxLayout="column" *ngIf="expenseCategory">

            <header class="accent">
                <div class="title">Expense Categories</div>
            </header>

            <div class="content">

                <div class="info-line">

                    <table class="info table">
                        <tr class="table-row">
                            <td class="key">Vehicle Name:</td>
                            <td class="value">{{expenseCategory.categoryName}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>