<ng-container *ngIf="!item.hidden">
    <ng-container *ngIf="authorities && authService.displayComponent(item, authorities)">

        <div class="group-title" [ngClass]="item.classes">
            <span class="hint-text" [translate]="item.translate">{{(item.translate | translate) || item.title}}</span>
        </div>

        <div class="group-items">
            <ng-container *ngFor="let item of item.children">
                <fuse-nav-vertical-group *ngIf="item.type=='group'"
                                         [item]="item"
                                         [authorities]="authorities">
                </fuse-nav-vertical-group>
                <fuse-nav-vertical-collapsable *ngIf="item.type=='collapsable'"
                                               [authorities]="authorities"
                                               [item]="item">
                </fuse-nav-vertical-collapsable>
                <fuse-nav-vertical-item *ngIf="item.type=='item'"
                                        [item]="item"
                                        [authorities]="authorities">
                </fuse-nav-vertical-item>
            </ng-container>
        </div>

    </ng-container>
</ng-container>
