<div class="page-layout simple fullwidth angular-material-elements">

    <!-- HEADER -->
    <div class="header accent p-24 h-60" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="h2 mt-0">
                <span *ngIf="fuelStation">Fuel Station: {{fuelStation.stationName}}</span>
            </div>
        </div>

        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button aria-label="Delete FuelStation" matTooltip="Delete FuelStation"
                    (click)="deleteFuelStation(fuelStation.stationGuid)">
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-icon-button aria-label="Edit FuelStation" matTooltip="Edit FuelStation"
                    (click)="updateFuelStation(fuelStation)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button aria-label="Back to FuelStation List" matTooltip="Back to FuelStation List"
                    [routerLink]="'/developer-pages/fuel-station-list'">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>

        </div>
        <!-- / TOOLBAR -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="section-box info-box general" fxLayout="column" *ngIf="fuelStation">

            <header class="accent">
                <div class="title">Fuel Station Information</div>
            </header>

            <div class="content">

                <div class="info-line">

                    <table class="info table">
                        <tr class="table-row">
                            <td class="key">Station Name:</td>
                            <td class="value">{{fuelStation.stationName}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">Affiliation:</td>
                            <td class="value">{{fuelStation.stationAffiliation}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">Address:</td>
                            <td class="value">{{fuelStation.stationAddress1}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key"></td>
                            <td class="value">{{fuelStation.stationAddress2}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">City:</td>
                            <td class="value">{{fuelStation.stationCity}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">State:</td>
                            <td class="value">{{fuelStation.stationState}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">Zip Code:</td>
                            <td class="value">{{fuelStation.stationZip}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">Phone Number:</td>
                            <td class="value">{{fuelStation.stationPhone}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div class="section-box info-box general" fxLayout="column" [hidden]="!fuelStation">

            <header class="accent">
                <div class="title">Fuel Fill Information ({{fuelActivityList.length}})</div>
            </header>

            <div class="content">

                <div class="table-container"
                     style="height: 300px; border-bottom: 1px solid rgba(0, 0, 0, 0.12);"
                     [hidden]="!fuelStation">

                    <table mat-table [dataSource]="dataSource"
                           matSort matSortActive="fillDate" matSortDirection="desc" matSortDisableClear>

                        <ng-container matColumnDef="fillDate">
                            <th mat-header-cell *matHeaderCellDef>Date</th>
                            <td mat-cell *matCellDef="let element">
                                <div style="max-width: 90px;">
                                    {{element.fillDate | date: 'MM/dd/yyyy'}}
                                    {{element.fillComments != null ? '*' : ''}}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="fillOdometer">
                            <th mat-header-cell *matHeaderCellDef>Odometer</th>
                            <td mat-cell *matCellDef="let element">
                                <div style="max-width: 54px; text-align: right;">
                                    {{element.fillOdometer}}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="fillMilesTraveled">
                            <th mat-header-cell *matHeaderCellDef>Distance</th>
                            <td mat-cell *matCellDef="let element">
                                <div style="max-width: 49px; text-align: right;">
                                    {{element.fillMilesTraveled.toFixed(1)}}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="fillGallons">
                            <th mat-header-cell *matHeaderCellDef>Gallons</th>
                            <td mat-cell *matCellDef="let element">
                                <div style="max-width: 44px; text-align: right;">
                                    {{element.fillGallons.toFixed(3)}}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="fillCostPerGallon">
                            <th mat-header-cell *matHeaderCellDef>$/Gal.</th>
                            <td mat-cell *matCellDef="let element">
                                <div style="max-width: 44px; text-align: right;">
                                    {{element.fillCostPerGallon.toFixed(3)}}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="fillTotalCost">
                            <th mat-header-cell *matHeaderCellDef>Total Cost</th>
                            <td mat-cell *matCellDef="let element">
                                <div style="max-width: 57px; text-align: right;">
                                    ${{element.fillTotalCost.toFixed(2)}}
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                            (click)="openDetail(row)"></tr>
                    </table>

                </div>

            </div>

        </div>

    </div>
</div>