<div class="page-layout simple fullwidth angular-material-elements">

    <!-- HEADER -->
    <div class="header accent p-24 h-60" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="h2 mt-0">
                <span *ngIf="fuelStation">{{fuelStation.stationName}}</span>
            </div>
        </div>

        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button aria-label="Delete FuelStation" matTooltip="Delete FuelStation"
                    (click)="deleteFuelStation(fuelStation.stationGuid)">
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-icon-button aria-label="Edit FuelStation" matTooltip="Edit FuelStation"
                    (click)="updateFuelStation(fuelStation)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button aria-label="Back to FuelStation List" matTooltip="Back to FuelStation List"
                    [routerLink]="'/developer-pages/fuel-station-list'">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>

        </div>
        <!-- / TOOLBAR -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="section-box info-box general" fxLayout="column" *ngIf="fuelStation">

            <header class="accent">
                <div class="title">FuelStation Information</div>
            </header>

            <div class="content">

                <div class="info-line">

                    <table class="info table">
                        <tr class="table-row">
                            <td class="key">FuelStation Name:</td>
                            <td class="value">{{fuelStation.stationName}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">Affiliation:</td>
                            <td class="value">{{fuelStation.stationAffiliation}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">Address:</td>
                            <td class="value">{{fuelStation.stationAddress1}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key"></td>
                            <td class="value">{{fuelStation.stationAddress2}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">City:</td>
                            <td class="value">{{fuelStation.stationCity}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">State:</td>
                            <td class="value">{{fuelStation.stationState}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">Zip Code:</td>
                            <td class="value">{{fuelStation.stationZip}}</td>
                        </tr>
                        <tr class="table-row">
                            <td class="key">Phone Number:</td>
                            <td class="value">{{fuelStation.stationPhone}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div class="section-box info-box general" fxLayout="column" *ngIf="fuelStation">

            <header class="accent">
                <div class="title">FuelStation History</div>
            </header>

            <div class="content">

                <div class="info-line">
                    There is no historical info for this station.
                </div>

            </div>

        </div>

    </div>
</div>