@import "src/@fuse/scss/fuse";

// Profile boxes
.section-box {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
    @include mat-elevation(2);

    header {
        padding: 16px;

        .title {
            font-size: 17px;
        }

        .more {
            cursor: pointer;
        }
    }

    .content {
        padding: 16px;
    }

    footer {
        padding: 8px;
        border-top: 1px solid;
    }

    &.info-box {

        .info-line {
            margin-bottom: 24px;

            .title {
                font-size: 15px;
                font-weight: 600;
                padding-bottom: 4px;
            }

            .key {
                padding: 0 16px 0 0;
            }

            .value {
                padding: 0 16px 0 0;
                font-weight: 600;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}